<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Contact Us</title>
        <script src="/javascripts/navigation.js"></script>
        <link rel="stylesheet" href="/public/stylesheets/index.css">

      </head>
      <body>
        <h1>Contact Us</h1>
        <ul>
          <li>Daniel Rand: <a href = "mailto:Daniel.Rand56@qmail.cuny.edu">Email Daniel</a> </li>
          <li>Rachel Hirmes: <a href = "mailto:rachel.hirmes@gmail.com">Email Rachel</a></li>
          <li>Jun Young Cheong: <a href = "mailto:Juncheong1@gmail.com">Email Jun</a></li>
        </ul>
      </body>
      </html>
      
