<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/navigation.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/index.css">


    <title>Developer Descriptions</title>
</head>
<body>
  <h1> Developer Descriptions</h1>
  <ul>
      <li>Jun Young Cheong: 
        <p>Jun is a Senior at Queens College and is graduating this spring. He is a Computer Science major. </p></li>
    <li>Daniel Rand: 
        <p>Daniel is a Junior at Queens College. He is a Computer Science major.  </p> </li>
    <li>Rachel Hirmes:
      <p>Rachel is a Junior at Queens College. She will be graduating this summer. She is a Computer Science major. </p>
    </li>
  </ul>
</body>
</html>