<!DOCTYPE html>
<html>
<script src="/javascripts/navigation.js"></script>
<script src="/javascripts/fileProcessing.js"></script>
<link rel="stylesheet" href="/public/stylesheets/index.css">


<body>

  </br>
  <div class="input-group mb-3 col-3">
    <input type="text" class="form-control" placeholder="Pizza" aria-label="searchbar1" aria-describedby="basic-addon2" disabled>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button">Search</button>
    </div>
  </div>

  <table class="table col-9">
    <thead class="thead-light">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Website URL</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Pizza Hut: Pizza Delivery | Pizza Carryout | Coupons | Wings & More</td>
        <td><a href="https://www.pizzahut.com/">https://www.pizzahut.com/</a></td>
        <td>Order pizza online for fast delivery or carryout from a store near you. View our full menu, see nutritional information, find store locations, and more.</td>
      </tr>
      <tr>
        <td>Best Pizza in NYC: Places With the Best Slices in New York City - Thrillist</td>
        <td><a href="https://www.thrillist.com/eat/new-york/the-best-pizza-in-new-york-city">https://www.thrillist.com/eat/new-york/the-best-pizza-in-new-york-city</a></td>
        <td>For the best of the ever-changing pizza landscape in NYC (plus some old reliables), consult our time-tested, ever-updated pizza bible.</td>
      </tr>
      <tr>
        <td>These are New York City's best pizza restaurants</td>
        <td><a href="https://www.cnn.com/travel/article/best-pizza-new-york-city/index.html">https://www.cnn.com/travel/article/best-pizza-new-york-city/index.html</a></td>
        <td>New York City&#x27;s pizza scene is stronger than ever. Find out where to go for the best pizza restaurants and what they serve on their pies.</td>
      </tr>
      <tr>
        <td>New York City&#39;s 25 Most Iconic Pizzerias - Eater NY</td>
        <td><a href="https://ny.eater.com/maps/nyc-best-iconic-pizza-pizzeria">https://ny.eater.com/maps/nyc-best-iconic-pizza-pizzeria</a></td>
        <td>Where to find New York’s most legendary pizza</td>
      </tr>
      <tr>
        <td>Best Pizza in N.Y.C.: Try These 10 Slices - The New York Times</td>
        <td><a href="https://www.nytimes.com/2018/11/15/nyregion/best-pizza-slices-nyc.html">https://www.nytimes.com/2018/11/15/nyregion/best-pizza-slices-nyc.html</a></td>
        <td>Pete Wells, our restaurant critic, on old-school pizzerias.</td>
      </tr>
      <tr>
        <td>Joe's Pizza | The Greenwich Village Institution</td>
        <td><a href="http://www.joespizzanyc.com/">http://www.joespizzanyc.com/</a></td>
        <td>Founded by Pino 'Joe' Pozzuoli in 1975, Joe's Pizza is a 'Greenwich Village institution' offering the classic New York slice for over 35 years, first, from our corner location at Bleecker and Carmine Street and then 3 doors down at 7 Carmine Street.</td>
      </tr>
      <tr>
        <td>The Best Pizza in New York City</td>
        <td><a href="https://www.foodnetwork.com/restaurants/photos/best-pizza-restaurants-new-york-city">https://www.foodnetwork.com/restaurants/photos/best-pizza-restaurants-new-york-city</a></td>
        <td>Forget the Big Apple: NYC should be called the Big Pizza. Here's where to find the top slices.</td>
      </tr>
      <tr>
        <td>Domino's Home Page - Domino's Pizza, Order Pizza Online for Delivery - Dominos.com</td>
        <td><a href="https://www.dominos.com/en/?lang=en">https://www.dominos.com/en/?lang=en</a></td>
        <td>Order pizza, pasta, sandwiches &amp; more online for carryout or delivery from Domino's. View menu, find locations, track orders. Sign up for Domino's email &amp; text offers to get great deals on your next order.</td>
      </tr>
      <tr>
        <td>Papa John's Pizza | Order for Delivery or Carryout</td>
        <td><a href="https://www.papajohns.com/">https://www.papajohns.com/</a></td>
        <td>Each Papa John’s pizza is carefully crafted with flavorful, superior-quality ingredients and toppings. Order pizza online for delivery or carryout.</td>
      </tr>
      <tr>
        <td>America&#39;s First Pizzeria | Little Italy New York | Lombardi&#39;s</td>
        <td><a href="https://www.firstpizza.com/">https://www.firstpizza.com/</a></td>
        <td>&amp;nbsp;Lombardi's was founded in 1905, making it the first pizzeria in the United States. Still located in the Little Italy section of Manhattan offering its ...</td>
      </tr>
    </tbody>
  </table>
  <br>
  <input type="button" id = "save" value="Save Results" onclick="dropdown()">
  <br>
  <form id = "dropdown">
  </form>
</body>

</html>
