<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="/javascripts/navigation.js"></script>
<script type="text/javascript" src="/javascripts/fileProcessing.js"></script>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phase 3: From File</title>
</head>
<body>
    <h1>From File</h1>
    <!--<label for = "type">Enter file type, either CSV, JSON, or XML:</label>
    <input type="text" id="type" />-->
    <input type="file" id="up" />
	<input type="submit" id="btn" onclick = "processFile()" />
	</br>

  <table class="table col-9">
 
  </table>
</body>
</html>