<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="/javascripts/googleAPI.js"></script>
    <script src="/javascripts/navigation.js"></script>
    <link rel="stylesheet" href="/public/stylesheets/index.css">

    <title>Phase 4: Google API</title>
</head>
<body>
    <h1>Phase 4: Google API</h1>

            <div  class="input-group mb-3 col-3" style="width:0px;overflow:hidden;height:0px;"> 
                <gcse:search enableAutoComplete="true"></gcse:search>
            </div>
            <form id="searchbox_XXXXXXXXXX:YYYYYYYYY" action="" >
                <input value="XXXXXXXXXX:YYYYYYYYY" name="cx" type="hidden" />
                <input value="FORID:11" name="cof" type="hidden"/>
                <input id="q" name="q" size="75" type="text"/>
                <button class="btn btn-outline-secondary">Search</button>
            </form>
        <div>
        <div class="gcse-results-wrapper">
                <gcse:searchresults-only>
                <table class="table col-9">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Website URL</th>
                            <th scope="col">Description</th>
                          </tr>
                        </thead>
       </gcse:searchresults-only>
        </div>
</body>
</html>