<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="index.html">Home</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="https://learn.zybooks.com/zybook/CUNYCSCI355TeitelmanSpring2019">Course</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Search</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="fixedList.html">Phase 2: Fixed List</a>
        <a class="dropdown-item" href="#">Phase 3: From File</a>
        <a class="dropdown-item" href="#">Phase 4: Google API</a>
        <a class="dropdown-item" href="#">Phase 5: Our Search Engine</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Browser</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="browser.html">Browser</a>
        <a class="dropdown-item" href="geolocation.html">Geolocation</a>
        <a class="dropdown-item" href="location.html">Location</a>
        <a class="dropdown-item" href="screen.html">Screen</a>
        <a class="dropdown-item" href="window.html">Window</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="contactUs.html">Contact Us</a>
      </div>
    </li>
  </ul>
</nav>
