<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/stylesheets/index.css">
    <script src="/javascripts/navigation.js"></script>
    <style>
        .dpd {
          position: absolute;
           top: 180px;
           right: 40px;
          font-size: 18px;
        }
    </style>
    <title>Phase 5: Our Search Engine</title>
</head>
<body>
    <h1>Phase 5: Our Search Engine</h1>
        <div class="dpd">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin Options</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminIndex.html"> Indexing Launcher</a>
          <a class="dropdown-item" href="adminStats.html"> Search History and Stats</a>
        </div>
      </li>
    </div>
    
</body>
</html>