<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/navigation.js"></script>

    <style>
        .dpd {
          position: absolute;
           top: 180px;
           right: 40px;
          font-size: 18px;
          margin-right: 5%;
          color: rgb(29, 167, 246);


        }
        .input-group {
           position: absolute;
           top: 200px;
        }
        

    </style>
    <title>Phase 5: Our Search Engine</title>
</head>
<body>
    <h1>Phase 5: Our Search Engine</h1>
        <div class="dpd">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admin Options</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="adminIndex.html"> Indexing Launcher</a>
          <a class="dropdown-item" href="adminStats.html"> Search History and Stats</a>
        </div>
      </li>
    </div>

    <input type="checkbox" id = "Insensitive" name="case-insensitive"/>
    <label for = "Insensitive">Case Insensitive</label>
    <input type="checkbox" id = "Partial" name="partial-match"/>
    <label for = "c2">Partial Match</label><br>
    <div class="input-group mb-6 col-6 ">
        <input type="text" id = "searchBar" class="form-control" placeholder="Enter search terms" ria-label="searchbar1" aria-describedby="basic-addon2">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" onclick = "search()">Search</button>
        </div>
        
    </div>
    <br><br><br>
    <table id = "results" class="table col-9">
    
    </table>
    <br>
    <form id = "dropdown">

    </form>
    <button id="create" style="display: none" onclick="createFile()">Generate File</button> 
    <a download="info.txt" id="downloadlink" style="display: none">Download File</a>
</body>
    <script src="/javascripts/search.js"></script>

</html>