<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>TEST</h1>
    <script>
        const http = new XMLHttpRequest();
        const url = '/insertPage';
        const time = new Date().toISOString().slice(0, 19).replace('T', ' ');
        //url, description, title, lastModified, lastIndexed
        const params = 
        {
            "url": "https://www.thrillist.com/eat/new-york/the-best-pizza-in-new-york-city",
            "description": "For the best of the ever-changing pizza landscape in NYC (plus some old reliables), consult our time-tested, ever-updated pizza bible.",
            "title": "Best Pizza in NYC: Places With the Best Slices in New York City - Thrillist",
            "lastModified": time,
            "lastIndexed": time
        };
        http.open('POST', url, true);

        //Send the proper header information along with the request
        http.setRequestHeader('Content-type', 'application/json');

        http.onreadystatechange = function() {//Call a function when the state changes.
            if(http.readyState == 4 && http.status == 200) {
                console.log(http.responseText);
            }
        }
        http.send(JSON.stringify(params));    
    </script>
</body>
</html>